body {
	margin:0;
	background-color: #e9e9e9;
	opacity: 0.77;
}


.menu {
	background-color: black;
	width: 100%;
	height: 50px;
	opacity: 1.0;
	position: fixed;
	text-align: right;
	margin-bottom: 20px;
	border-radius: 5px;
}

.Welcome {
	margin-top: 10px;
	margin-left: 20px;
	color: white;
	display: inline-block;
	font-size: 22px;
	float: left;
	font-style: italic;
}

.logout {
	margin-top: 15px;
	margin-right: 20px;
	color: white;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
}

.profile {
	margin-top: 15px;
	margin-right: 20px;
	color: white;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
}

.logout:hover {
	cursor: pointer;
}

.profile:hover {
	cursor: pointer;
}

.recipeSubmit {
	background-color: black;
	width: 350px;
	height: 250px;
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	text-align: center;
}

.recipe {
	position: fixed;
	top: 50%;
}

.submitRecipeForm {
	width: 200px;
	border-radius: 5px;
	height: 20px;
}

#RecipeName {
	margin-top: 30px;
}

#submitBut {
	margin-bottom: 30px;
}
@media only screen and (min-width: 1px) and (max-width: 502px) {
	.recipeSubmit {
		background-color: black;
		width: 300px;
		height: 250px;
		position:fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		text-align: center;
	}

	#RecipeName {
		margin-top: 30px;
	}

	#submitBut {
		margin-bottom: 30px;
	}
}

@media only screen and (min-height: 1px) and (max-height: 392px) {
	.recipeSubmit {
		display: none;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) { 
  	body {
  		background-color: black;
  	}

  	.menu {
		background-color: #8b0000;
		width: 100%;
		height: 50px;
		opacity: 0.86;
		position: fixed;
		text-align: right;
		margin-bottom: 20px;
		border-radius: 5px;
	}

}